#addUser {
  background: $theme-color;
  height: 100%;
  #avatar {
    width: 80px;
    height: 80px;
    margin: 26px auto;
    background: lightblue;
    border-radius: 100%;
    display: block;
  }
  #file {
    display: none;
  }
  .add-user, .add-items-head{
    margin: 0 20px;
  }
  .add-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .add-name {
      display: flex;
      flex-direction: column;
      flex: auto;
      margin: 0 0 0 20px;
      height: 80px;
      justify-content: space-between;
      input {
        border: 0 none;
        background: transparent;
        border: 1px solid  #fff;
        border-radius: 20px;
        padding: 8px 10px;
        color: #fff;
        width: 100%;
        &::placeholder {
          color: #f1f1f1;
        }
      }
    }
  }
  .add-items {
    .add-items-head {
      padding-bottom: 20px;
      border-bottom: 1px dashed #fff;
      color: #fff;
      text-align: center;
      font-size: 15px;
      padding-top: 18px;
      margin-bottom: 20px;
    }
    .add-items-title, .item-row {
      display: flex;
      color: #fff;
      margin-bottom: 20px;
      align-items: center;
      justify-content: space-around;
      dd {
        text-align: center;
        &:nth-of-type(4n+1) {
          width: 10%;
          text-align: center;
          color: #fff;
        }
        &:nth-of-type(4n+2) {
          width: 45%;
        }
        color: #fff;
        &:nth-of-type(4n+3) {
          width: 35%;
        }
        &:nth-of-type(4n+4) {
          width: 10%;
        }
      }
    }
    .am-input-item {
      background-color: transparent;
      input {
        border-bottom: 1px solid  #fff;
      }
    }
    .item-row {
      input {
        background-color: transparent;
        border: 0 none;
        border-bottom: 1px solid  #fff;
        color: #fff;
        text-align: center;
        width: 98%;
        &.no-border {
          border-bottom: 0 none;
        }
      }
      .delete-btn {
        display: inline-block;
        transform: rotate(45deg);
        font-size: 20px;
      }
    }
  }
}

.add-item-area {
  height: 200px;
  overflow: auto;
}

.plus-btn {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 40px;
  background: #fff;
  font-size: 30px;
  color: $theme-color;
  line-height: 35px;
}