* {margin: 0;padding: 0}
ul {
  list-style: none;
}

html,body {
  width: 100%;
  height: 100%;
}

#root {
  position: relative;
  height: 100%;
}

header {
  background: $theme-color;
  text-align: center;
  color: #fff;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  text-align: center;
  .back {
    &:after {
      content: '<';
      display: block;
      position: absolute;
      top: -10px;
      width: 26px;
      height: 26px;
      color: #fff;
      transform: scaleY(2)
    }
  }
  .center {
    display: inline-block;
  }
  .right {
    position: absolute;
    right: 10px;
    font-size: 14px;
  }
  .userList {
    position: absolute;
    width: 50px;
    right: 0;
    font-size: 14px;
    background: $theme-color;
    border-radius: 0 0 4px 4px;
  }
}
.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 44px;
  line-height: 44px;
  background: $theme-color;
  text-align: center;
  color: #fff;
}

.user-panel {
  position: absolute;
  background: $theme-color;
  overflow: hidden;
  top: 0px;
  right: -150px;
  width: 150px;
  height: 100%;
  box-shadow: inset 5px 0 10px rgba(0,0,0,0.5);
  .am-list-item .am-list-line .am-list-extra {
    flex-basis: 100%;
  }
}
